h1{color:green;}
h2{color:pink;}
	p{background-color:pink; color:black; font-family:Arial;}
	table{background-color:black; color:white;}
	ul{color: yellow;background-color: pink;}
	ol{color: violet; background-color: black;}
	form{background-color: black; color:white; font-family: arial;}